.page {
  min-height: 100svh;
  padding: 80px;
  background: linear-gradient(to bottom, #ffffff, #36b0c8);
  font-family: var(--font-geist-sans);
  justify-items: center;
}

.selectionGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  max-width: 1400px;
  padding: 50px;
}

.site {
  background-color: #c69cc0;
  height: 250px;
  border-radius: 15px;
  display: flex; /* Enables Flexbox layout */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
}

.title {
  color: black;
  font-family: var(--font-geist-sans);
}
