.page {
  min-height: 100svh;
  padding: 50px;
  background: linear-gradient(to bottom, #ffffff, #36b0c8);
  font-family: var(--font-geist-sans);
  justify-items: center;
}

.selectionGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  max-width: 1400px;
  padding: 50px;
}

.site {
  background-color: #c69cc0;
  border-width: 1px;
  border-color: #8c4799;
  border-style: solid; /* This is required to make the border visible */
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 250px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: black;
}

.siteTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.siteDescription {
  text-transform: none; /* Keep description in normal case */
  font-size: 1rem;
  margin-top: 6px;
  color: #333; /* or any color that works for your theme */
}

@media only screen and (max-width: 600px) {
  body {
    .selectionGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
      max-width: 1400px;
      padding: 50px;
    }
    .site {
      background-color: #c69cc0;
      border-width: 1px;
      border-color: #8c4799;
      border-style: solid; /* This is required to make the border visible */
      border-radius: 16px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      height: 170px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1rem;
      padding: 20px;
      color: black;
    }
  }
}

.title {
  font-size: 3rem;
  color: black;
  font-family: var(--font-geist-sans);
}
