.loginButton {
  padding: 8px 16px;
  background-color: #c69cc0;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginButton:hover {
  background-color: #784692;
}

.logoutButton {
  padding: 8px 16px;
  background-color: #e53e3e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #c53030;
}

.newPostButton {
  background-color: #8c4799;
  color: white;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  transition: 0.3s ease;
}

.newPostButton:hover {
  background-color: #a05bb3;
}
