.postWrapper {
  background-color: #c79bbf;
  padding: 16px 24px;
  border-width: 1px;
  border-color: #8c4799;
  border-style: solid;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postButton {
  all: unset; /* resets default button styling */
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.postButton:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.spinnerWrapper {
  position: absolute;
  bottom: -20px;
  left: -20px;
  pointer-events: none;
}

.nameID {
  display: flex;
  gap: 0.6rem;
}

.postTitle {
  font-size: 1.5rem;
  font-family: var(--font-amaranth);
}

.username {
  font-size: 1.3rem;
}

.roleTags {
  align-self: center;
  background-color: #e09a3b;
  border-radius: 4px;
  padding: 2px;
}

.editdelete {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-left: 16px;
}
