.post {
  background-color: #c79bbf;
  padding: 16px 24px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out;
}

.post:hover {
  transform: translateY(-2px);
}
