.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff, #36b0c8);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;
  margin-top: 74px;
}

.formBox {
  background-color: #c79bbf;
  border-radius: 1rem;
  padding: 2rem;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 70%;
}

.posterName {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.titleInput,
.contentInput {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.contentInput {
  min-height: 150px;
  resize: vertical;
}

.submitButton {
  background-color: #8c4799; /* purple */
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 9999px; /* fully rounded */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submitButton:hover {
  background-color: #a05bb3;
}

.backButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
}

.flexContainer {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.backParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #c69cc0;
  border: 1px solid #d1c9e8;
  border-radius: 6px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  transition: all 0.3s ease;
}

.backParent:hover {
  background-color: #ad7fa5;
  transform: translateY(-2px);
}
